.game {
	
	border-bottom: 1px solid grey;
	padding: 25px 10px;

	.team {

		align-items: center;
		justify-content: space-around;


		.team-logo {
			width: 72px;
			height: 72px;
		}
	}

	.rating {

		align-items: center;
		justify-content: center;
	}

}