console-bg = #333333;
console-font-color = #00ff00;
console-error-color = red;
console-font-family = Consolas, Menlo, Monaco, monospace;

.console {

	flex: 1;
	padding: 10px;
	min-height: 500px;
	font-family: console-font-family;
	background: console-bg;
	color: console-font-color;
	

	.console-title {
		font-weight: bold;
		margin: 0 0 10px 0;
		border-bottom: 1px dashed console-font-color;
	}

	.console-entries {

		margin: 0;
		padding: 0;

		.console-entry {
			list-style: none;
			margin-bottom: 10px;

			&.error {
				color: console-error-color;
			}

			.console-entry-main-info {

				margin: 0;

				.console-entry-message {
					margin-left: 10px;
				}
			}

			.console-entry-secondary-info {
				margin: 0;
				font-style: italic;
			}
		}
	}
}