html, body {
	height: 100%;
}

.container {

	display: flex;
	height: 100%;
}

.row {

	display: flex;
	flex-flow: row wrap;
	flex: 1;

	&.tall {
		flex: 2;
	}

}

.column {

	display: flex;
	flex-flow: column;
	flex: 1;
	background: gold;

	&.long {
		flex: 2;
	}

}