@import './components/layout/grid/_grid';
@import './components/layout/header/_header';
@import './components/layout/logo/_logo';
@import './components/layout/menu/_menu';

@import './pages/system/components/system-console/_system-console';

console-bg = #333333;
console-font-color = #00ff00;

.console {

	flex: 1;
	background: console-bg;
	color: console-font-color;
	font-family: Consolas, Menlo, Monaco, monospace;

	.console-title {
		font-weight: bold;
		margin-bottom: 10px;
		border-bottom: 1px dashed console-font-color;
	}

	.console-entries {

		margin: 0;
		padding: 0;

		.console-entry {
			list-style: none;

		}
	}
}