@import './components/layout/grid/_grid';
@import './components/layout/header/_header';
@import './components/layout/logo/_logo';
@import './components/layout/menu/_menu';

@import './pages/system/_system';


.system-command {

	display: flex;
	align-items: center;
	padding: 25px;

	.system-command-input-wrapper {

		flex: 1;
		align-items: center;
		width: 50%;
		padding: 0 10px;
		color: console-font-color;
		background-color: console-bg;
	}

	.system-command-input {

		border: 0;
		flex: 3;
		height: 40px;
		padding-left:10px;
		background-color: console-bg;
		color: console-font-color;
		font-size: 24px;

		&:focus {
			outline: none;
		}
	}

	.spinner {

		.double-bounce1 {
			background: console-font-color;
		}
	}

}